<html>
    <body>
        {% for image in images %}
            <img src="{{ url_for('static', path='cats/' + image) }}" alt="catpic??" height="400px" width="500px"/>
        {% endfor%}
    </body>
</html>