<html>
    <body>
        {% for image in images %}
            <img src="{{ url_for('static', path='cats/' + image) }}" alt="catpic?? width="400" height="500""/>
        {% endfor%}
    </body>
</html>